body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:64px;
  width:320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:58px;
  top:465px;
  width:30px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:185px;
  top:466px;
  width:30px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:466px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:309px;
  top:466px;
  width:30px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:180px;
  top:32px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:40px;
  top:456px;
  width:320px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u14 {
  position:absolute;
  left:121px;
  top:466px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:201px;
  top:456px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:456px;
  width:20px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:53px;
  top:84px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:118px;
  top:84px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:118px;
  top:115px;
  width:105px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:298px;
  top:84px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:53px;
  top:150px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:118px;
  top:150px;
  width:92px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:118px;
  top:181px;
  width:208px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:298px;
  top:150px;
  width:42px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:53px;
  top:210px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:118px;
  top:210px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:118px;
  top:241px;
  width:105px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:298px;
  top:210px;
  width:33px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:53px;
  top:276px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:118px;
  top:276px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:118px;
  top:307px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:298px;
  top:276px;
  width:32px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:93px;
  top:79px;
  width:15px;
  height:15px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u53 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:93px;
  top:144px;
  width:15px;
  height:15px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u55 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:293px;
  top:40px;
  width:53px;
  height:16px;
  text-decoration:underline;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
