body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:320px;
  height:480px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:64px;
  width:320px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u3 {
  position:absolute;
  left:180px;
  top:32px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:55px;
  top:38px;
  width:50px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:55px;
  top:103px;
  width:40px;
  height:40px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:150px;
  top:84px;
  width:101px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:105px;
  top:105px;
  width:205px;
  height:46px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:46px;
}
#u12 {
  position:absolute;
  left:2px;
  top:15px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:110px;
  top:111px;
  width:200px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:51px;
  top:460px;
  width:250px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:309px;
  top:462px;
  width:45px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
